<div itemscope itemtype="http://schema.org/AboutPage">
	<div class="about" style="background:url('/media/images/about-city.jpg'); background-size:cover;" itemprop="specialty">
		<h1>About</h1>
		Webinate is a development studio. We specialise in building responsive and engaging web and mobile applications. By using
		state of the art technology, we look at ways to create solutions for our clients that are as light weight, accessible and
		intuitive as possible.
	</div>
	<div class="our-philosophy" id="our-philosophy">
		<h2>Our Philosophy</h2>
		<div class="our-philosophy-content">
			<div class="about-philo-img"><img alt="webinate philosophy" src="/media/images/thinker.png" /></div>
			At the heart of our daily operations is a strong sense of technical creativity and expertise; as well as a drive to make
			a positive difference in the world around us. We all have a strong passion for ethical business practises and ensuring
			that what we do, can in some way give back to society and the businesses or communities that support us. Information is
			becoming increasingly accessible and there is a great challenge to present this information in meaningful ways to the
			people who consume it. Our team wants to be on the forefront of tackling those challenges and creating experiences that
			are meaningful, entertaining and inspiring.
			<div class="fix"></div>
		</div>
	</div>
	<div class="team" id="team" itemscope itemtype="http://schema.org/Organization">
		<h2>The Team</h2>
		<div class="bio-piece">
			<img class="team-profile-img" alt="Mathew henson" src="./media/images/mathew-profile.png" itemprop="image" />
			<div class="bio">
				<div class="person" itemprop="founder">Mathew Henson</div>
				<div class="desc">Hi, my name is Mathew and I am the founder of Webinate. I love coffee, code and hiking</div>
				<div class="details">
					<a href="https://twitter.com/MathewKHenson" target="_blank"><img alt="Mathew Henson twitter" src="./media/images/slides/twitter-icon.png" /></a>
				</div>

			</div>
		</div>
		<div class="fix"></div>
		<div class="more">
			I've been working in the web development industry for over ten years and on a wide spectrum of projects. From 2007 to 2011
			I was employed as a technical director for a small company based in London. During that time we delivered exciting new
			web projects to engage with businesses and their customers. Our clients included the BBC, Welcome Trust, Aviva and the
			UK Government to name a few. After that I moved into a lead position working with 'big data' at a large research company.
			In 2014 I founded Webinate which was originally based in London and has since moved over to Dublin.
		</div>
	</div>
</div>