<div itemscope itemtype="http://schema.org/ProfessionalService">
	<div class="what-we-do">
		<div class="company"><img src="/media/images/logo-home-large.png" /></div>
		<div class="what-we-do-cloud what-we-do-cloud-1 sprite"></div>
		<div class="what-we-do-cloud what-we-do-cloud-2 sprite"></div>
		<div class="what-we-do-cloud what-we-do-cloud-4 sprite"></div>
	</div>
	<div class="statement">We are Web and Mobile App Developers :) <div class="sprite sp-pointer"></div></div>

	<div class="who-we-are">
		<div class="slider-monitor"><div class="slides" data-ng-include="'templates/slider.html'" onload="controller.loadSlider()"></div></div>
	</div>
	<div class="company-services">
		<div class="what-we-do-tagline">Based in Dublin, we design and build functional, beautiful and engaging applications</div>
		<div class="company-service">
			<div class="service-image"><div class="sprite sp-service-html"></div></div>
			<div class="service-title">Websites & Digital Media</div>
			<div class="service-desc">Websites for small and medium sized companies</div>
			<a href="./post/web-design"><div class="button blue">Read More &#10095;</div></a>
		</div>
		<div class="company-service">
			<div class="service-image"><div class="sprite sp-service-application-development"></div></div>
			<div class="service-title">Web and App Development</div>
			<div class="service-desc">We pride ourselves on performance, responsiveness and simple design</div>
			<a href="./post/mobile-and-web-app-development"><div class="button blue">Read More &#10095;</div></a>
		</div>
		<div class="company-service">
			<div class="service-image"><div class="sprite sp-service-gamification"></div></div>
			<div class="service-title">Gamification</div>
			<div class="service-desc">Using cutting edge game technology for entertainment, education or user engagement</div>
			<a href="./post/gamification-and-user-engagement"><div class="button blue">Read More &#10095;</div></a>
		</div>
		<div class="fix"></div>
	</div>
	<div class="what-people-say">
		<div class="section">
			<div class="person-profile">
				<img src="/media/images/james.png" alt="reference from james allsopp" />
			</div>
			<div class="they-say" itemprop="review" itemscope itemtype="http://schema.org/Review">
				<div class="they-say-quote" itemprop="reviewBody">"The guys at Webinate did a fantastic job for us and have got some fascinating new projects coming down the line. Definitely a company worth keeping an eye on!"</div>
				<div class="who-said-it" itemprop="author">James Allsopp - Playgen</div>
			</div>
			<div class="fix"></div>
		</div>
		<div class="section alternate">
			<div class="person-profile">
				<img src="/media/images/ilka-franz.jpg" alt="reference from Ilka Franz" />
			</div>
			<div class="they-say" itemprop="review" itemscope itemtype="http://schema.org/Review">
				<div class="they-say-quote" itemprop="reviewBody">"Really listened and understood our needs. Not only a great end result but but also brilliant service and guidance at each step of the way."</div>
				<div class="who-said-it" itemprop="author">Ilka Noggler - ilkafranz.com</div>
			</div>
			<div class="fix"></div>
		</div>



	</div>
</div>