<div class="nav-items">
	<a data-ui-sref="home" data-ui-sref-active="active">
		<div class="nav-item home">
			<div class="sprite sp-logo-home-small"></div>
		</div>
	</a>

	<a data-ui-sref="about" data-ui-sref-active="active">
		<div class="nav-item">About</div>
	</a>
	<a data-ui-sref="blog.posts({tags:'',category:'',author:''})" data-ui-sref-active="active">
		<div class="nav-item">Blog</div>
	</a>
	<a data-ui-sref="contact" data-ui-sref-active="active">
		<div class="nav-item">Contact Us</div>
	</a>
</div>
<div class="fix"></div>