<div class="about" style="background:url('/media/images/about-city.jpg'); background-size:cover;">
	Webinate is a development studio. We specialise in creating animated and engaging online applications.
	By using state of the art web technology, we look at ways to create solutions for our clients that are as light weight,
	accessible and intuitive as possible.
</div>
<div class="our-philosophy" id="our-philosophy">
	<h1>Our Philosophy</h1>
	<div class="our-philosophy-content">
		<div class="about-philo-img"><img alt="webinate philosophy" src="/media/images/thinker.png" /></div>
		At the heart of our daily operations is a strong sense of technical creativity and expertise;
		as well as a drive to make a positive difference in the world around us.
		We all have a strong passion for ethical business practises and ensuring that what we do,
		can in some way give back to society and the businesses or communities that support us.
		Information is becoming increasingly accessible and there
		is a great challenge to present this information in meaningful ways to the people who consume it.
		Our team wants to be on the forefront of tackling those challenges and creating experiences that are meaningful,
		entertaining and inspiring.
	</div>
</div>
<div class="team" id="team">
	<h1>The Team</h1>
	<div class="bio-piece">
		<img class="team-profile-img" alt="Mathew henson" src="./media/images/mathew-profile.png" />
		<div class="bio">
			<div class="person">Mathew Henson</div>
			<div class="desc">Hi, my name is Mathew and I am the founder of Webinate. I love coffee, code and hiking</div>
			<div class="details"><a href="https://twitter.com/MathewKHenson" target="_blank"><img alt="Mathew Henson twitter" src="./media/images/slides/twitter-icon.png" /></a></div>
		</div>
	</div>
</div>
