<div class="contact-us">
	<div class="contact-clouds">
		<a href="https://www.facebook.com/Webinate" target="_blank"><img class="norm" src="/media/images/contact-us-fb.png" /><img class="over" src="/media/images/contact-us-fb-over.png" alt="facebook cloud" /></a>
		<a href="https://twitter.com/WebinateNet" target="_blank"><img class="norm" src="/media/images/contact-us-twitter.png" /><img class="over" src="/media/images/contact-us-twitter-over.png"  alt="twitter cloud" /></a>
		<a href="https://plus.google.com/+WebinateNet/posts" target="_blank"><img class="norm" src="/media/images/contact-us-gplus.png" /><img class="over" src="/media/images/contact-us-gplus-over.png"  alt="Google cloud" /></a>
		<a href="https://www.youtube.com/channel/UCtcfpxQJOV-yHbJRuIlBgpA" target="_blank"><img class="norm" src="/media/images/contact-us-youtube.png" /><img class="over" src="/media/images/contact-us-youtube-over.png"  alt="Youtube cloud" /></a>
	</div>
	<div class="header">
		<h1>Get in touch with us</h1>
		<div class="what-we-do-cloud what-we-do-cloud-1"></div>
		<div class="what-we-do-cloud what-we-do-cloud-2"></div>
		<div class="what-we-do-cloud what-we-do-cloud-4"></div>
	</div>
	<div class="map-outer">
		<div class="map"></div>
	</div>
	<div class="contact-blocks">
		<div class="block">
			<img src="/media/images/location.png"  alt="Dublin Location" />
			<div class="title">Address</div>
			<div class="block-content">
				Suite 203, I.a.d.t. Media Cube<br />
				Kill Ave<br />
				Dublin
			</div>
		</div>
		<div class="block">
			<img src="/media/images/phone-2.png" alt="Phone us" />
			<div class="title">Phone</div>
			<div class="block-content">
				+353 (0)89 2548285<br />
				Skype: mathew_henson
			</div>
		</div>
		<div class="block">
			<img src="/media/images/email-2.png" alt="Email Us" />
			<div class="title">Email</div>
			<div class="block-content">
				sales@webinate.net <br />
				support@webinate.net
			</div>
		</div>
		<div class="fix"></div>
	</div>
	<div class="contact-form">
		<h1>Drop Us A Message</h1>
		<form name="mailForm" novalidate id="contact-form">
			<input class="small-input" name="iName" data-ng-class="{error: (mailForm.$submitted || mailForm.iName.$touched) && mailForm.iName.$error.required}" type="text" data-ng-model="controller.mail.name" required="" placeholder="Your Name" />
			<input class="small-input" name="iEmail" data-ng-class="{error: (mailForm.$submitted || mailForm.iEmail.$touched) && mailForm.iEmail.$error.required}" type="email" data-ng-model="controller.mail.email" required="" placeholder="Your Email" />
			<input class="small-input" name="iPhone" type="number" data-ng-model="controller.mail.phone" placeholder="Your Phone Number" />
			<input class="small-input" name="iSite" type="text" data-ng-model="controller.mail.website" placeholder="Your Website" />
			<textarea class="big-input" name="iMessage" data-ng-class="{error: (mailForm.$submitted || mailForm.iMessage.$touched) && (mailForm.iMessage.$error.required || mailForm.iMessage.$error.minlength)}" cols="50" data-ng-model="controller.mail.message" required="" rows="6" data-ng-minlength="5" placeholder="Enter Message"></textarea>
			<input type="submit" class="button success blue" value="Send Message" data-ng-click="(mailForm.$valid && controller.sendMessage())" />
			<div data-ng-show="mailForm.$submitted">
				<div class="error" data-ng-show="mailForm.$invalid">Please check your details</div>
			</div>
			<div class="success" style="display:none;"></div>
		</form>
		
	</div>
</div>