<div class="footer-column">
    <div class="footer-header"><a class="footer-header" data-ui-sref="home" data-ui-sref-active="active">Home</a></div>
</div>
<div class="footer-column">
    <div class="footer-header"><a class="footer-header" data-ui-sref="about" data-ui-sref-active="active">About</a></div>
    <div class="footer-item"><a href="./about#our-philosophy">Our Philosophy</a></div>
    <div class="footer-item"><a href="./about#team">The Team</a></div>
</div>
<div class="footer-column">
    <div class="footer-header"><a class="footer-header" data-ui-sref="projects" data-ui-sref-active="active">Projects</a></div>
    <div class="clear"></div>
</div>
<div class="footer-column">
    <div class="footer-header"><a data-ui-sref="blog.posts({tags:'',categories:'',author:''})" data-ui-sref-active="active">Blog</a></div>
    <div class="footer-item" data-ng-repeat="post in posts">
        <a data-ng-href="./post/{{post.slug}}">{{post.title}}</a>
    </div>
</div>
<div class="footer-column" style="width:200px;">
    <div class="footer-header"><a data-ui-sref="contact" data-ui-sref-active="active">Contact Us</a></div>
	<div class="footer-item">+353 (0)89 2548285</div>
	<div class="footer-item">sales@webinate.net</div>
	<div class="footer-item">
		<a href="https://twitter.com/WebinateNet" target="_blank"><img src="/media/images/footer-twitter.png" alt="twitter" /></a>
		<a href="https://www.facebook.com/Webinate" target="_blank"><img src="/media/images/footer-fb.png" alt="facebook" /></a>
		<a href="https://plus.google.com/+WebinateNet/posts" target="_blank"><img src="/media/images/footer-gplus.png" alt="google plus" /></a>
		<a href="https://www.youtube.com/channel/UCtcfpxQJOV-yHbJRuIlBgpA" target="_blank"><img src="/media/images/footer-youtube.png" alt="youtube" /></a>
	</div>
</div>
<div class="fix"></div>