<div itemscope itemtype="http://schema.org/ProfessionalService">
	<div class="what-we-do">
		<div class="company"><img src="/media/images/logo-home-large.png" alt="webinate logo" /></div>
		<div class="what-we-do-cloud what-we-do-cloud-1"></div>
		<div class="what-we-do-cloud what-we-do-cloud-2"></div>
		<div class="what-we-do-cloud what-we-do-cloud-4"></div>
	</div>
	<div class="statement">We are Web and Mobile App Developers :) <img class="animated fade-in" src="/media/images/pointer.png" /></div>
	
	<div class="who-we-are">
		<div class="slider-monitor"><div class="slides" data-ng-include="'templates/slider.html'" onload="controller.loadSlider()"></div></div>
	</div>
	<div class="company-services">
		<div class="what-we-do-tagline">Based in Dublin, we design and build functional, beautiful and engaging applications</div>
		<div class="company-service">
			<div class="service-image"><img src="/media/images/service-html.png" alt="website development" /></div>
			<div class="service-title">Websites & Digital Media</div>
			<div class="service-desc">Websites for small and medium sized companies</div>
		</div>
		<div class="company-service">
			<div class="service-image"><img src="/media/images/service-application-development.png" alt="application development" /></div>
			<div class="service-title">Web and App Development</div>
			<div class="service-desc">We pride ourselves on performance, responsiveness and simple design</div>
		</div>
		<div class="company-service">
			<div class="service-image"><img src="/media/images/service-gamification.png" alt="gamification" /></div>
			<div class="service-title">Gamification</div>
			<div class="service-desc">Using cutting edge game technology for entertainment, education or user engagement</div>
		</div>
		<div class="fix"></div>
	</div>
	<div class="what-people-say">
		<div class="person-profile">
			<img src="/media/images/james.png" alt="reference from james allsopp" />
		</div>
		<div class="they-say" itemprop="review" itemscope itemtype="http://schema.org/Review">
			<div class="they-say-quote" itemprop="reviewBody">"The guys at Webinate did a fantastic job for us and have got some fascinating new projects coming down the line. Definitely a company worth keeping an eye on!"</div>
			<div class="who-said-it" itemprop="author">James Allsopp - Playgen</div>
		</div>
		<div class="fix"></div>
	</div>
</div>