<div class="post">
    <div data-ng-if="post.error" class="post-content error">
        <div class="header">{{post.message}}</div>
    </div>
    <div data-ng-if="!post.error" class="post-content">
        <div class="header">{{post.title}}</div>
        <div class="date">{{post.createdOn | date:"dd MMMM yyyy"}}</div>
        <div class="post-body" data-ng-bind-html="post.content"></div>
        
        <div class="categories">
            {{ post.categories.length > 0 ? "Posted in" : "" }}
            <span data-ng-repeat="category in post.categories">
                <a data-ng-href="./blog?category={{category}}">{{category}}</a>{{$last == false ? "," : ""}}
            </span>
        </div>
        <div class="tags">
            {{ post.tags.length > 0 ? "Tagged in " : "" }}
            <span data-ng-repeat="tag in post.tags">
                <a data-ng-href="./blog?tag={{tag}}">{{tag}}</a> {{$last == false ? ", " : ""}}
            </span>
        </div>
        <div class="author">Posted by <a data-ng-href="./blog?author={{post.author}}">{{post.author}}</a></div>
    </div>
	<div class="fix"></div>
</div>