<div id="slides" style="position: relative; top: 0px; left: 0px; width: 1000px; height: 400px; overflow: hidden; ">

	<!-- Loading Screen -->
	<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
		</div>
		<div style="position: absolute; display: block; background: url('./media/images/loading.gif') no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
		</div>
	</div>

	<!-- Slides Container -->
	<div data-u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1000px; height: 400px; overflow: hidden;">
		<div>
			<img data-u="image" src="./media/images/slides/slide-1.jpg" alt="Web development Dublin" />
			<div class="caption caption-1" data-u="caption" data-t="FADE_IN">Development studio based in Dublin & Wicklow</div>
		</div>
		<div>
			<img data-u="image" src="./media/images/slides/slide-2.jpg" alt="Comming soon - trike 3d" />
			<div class="caption caption-2-1" data-u="caption" data-t="LEFT_MARCH">Coming Soon</div>
			<div class="caption caption-2-2" data-u="caption" data-t="LEFT_MARCH">Trike 3D</div>
			<img data-u="caption" class="caption caption-2-img-1" data-t="LEFT_MARCH" src="./media/images/slides/slide-2-laptop.png" alt="laptop" />
			<img data-u="caption" class="caption caption-2-img-2" data-t="ATTACK_RIGHT" data-du="2000" src="./media/images/slides/slide-2-logo.png" alt="trike logo" />
			<img data-u="caption" class="caption caption-2-img-3" data-t="FADE_IN" data-d="-100" data-du="400" src="./media/images/slides/html5-badge.png" alt="html5" />
			<img data-u="caption" class="caption caption-2-img-4" data-t="FADE_IN" data-d="-100" data-du="400" src="./media/images/slides/type-script.png" alt="typescript" />
			<img data-u="caption" class="caption caption-2-img-5" data-t="FADE_IN" data-d="-100" data-du="400" src="./media/images/slides/webgl.png" alt="webgl" />
		</div>
		<div>
			<img data-u="image" src="./media/images/slides/slide-3.jpg" alt="Responsive design" />
			<div class="caption caption-3" data-u="caption" data-t="FADE_IN">Responsive design & development for multiple device types</div>
		</div>
		<div>
			<div class="caption caption-4" data-u="caption" data-du="300" data-t="FADE_IN">Websites and training to get your business online and making sales</div>
			<img data-u="caption" class="caption caption-4-img-2" data-t="FADE_IN" data-du="900" src="./media/images/slides/website-tablet-2.png" alt="Tablets" />
			<img data-u="caption" class="caption caption-4-img-1" data-t="FADE_IN" data-du="900" d="700" src="./media/images/slides/website-tablet-1.png" alt="mobile devices" />
		</div>
	</div>
	<div data-u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
		<div data-u="prototype"></div>
	</div>
</div>